<?xml version="1.0" encoding="utf-8"?>

<!--
	packages.config, Learning.IMRL.EC

	Created by Pedro Sequeira, 2015/3/24

	pedro.sequeira@gaips.inesc-id.pt
-->
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="MathNet.Numerics" version="3.6.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
</packages>